body {
  background-color: #333;
}

div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100%;
}
#preloader:hover>.ls:after{
  width: 0px;
}
.ls{
  position: relative;
}
.ls:before{
  content: "Download";
  padding-bottom: 10px;
  border-bottom: 1px solid pink;
  color: red;
  position: absolute;
  right: 27px;
  bottom: 62px;
}
.ls:after{
  content: "100%";
  display: block;
  color: aliceblue;
  background-color: honeydew;
  width: 66px;
  position: absolute;
  right: 27px;
  top: 46px;
  transition: width 2s;
}

#preloader {
  width: 370px;
  height: 370px;
}

#preloader div {
  position: absolute;
  border: 1px solid blue;
}

#preloader div:nth-child(1) {
  width: 32.33333%;
  height: 32.33333%;
}

#preloader div:nth-child(2) {
  width: 34.66667%;
  height: 34.66667%;
  -webkit-animation: rot 5s infinite;
          animation: rot 5s infinite;
  border-color: yellow;
  border-top-color: transparent;
}

#preloader div:nth-child(3) {
  width: 37%;
  height: 37%;
  -webkit-animation: rot 4s infinite;
          animation: rot 4s infinite;
  border-color: purple;
  border-bottom-color: transparent;
}

#preloader div:nth-child(4) {
  width: 39.33333%;
  height: 39.33333%;
  -webkit-animation: rot 5s infinite;
          animation: rot 5s infinite;
  border-color: yellow;
  border-top-color: transparent;
  border-color: orange;
  border-left-color: transparent;
}

#preloader div:nth-child(5) {
  width: 41.66667%;
  height: 41.66667%;
}

#preloader div:nth-child(6) {
  width: 44%;
  height: 44%;
  -webkit-animation: rot 5s infinite;
          animation: rot 5s infinite;
  border-color: yellow;
  border-top-color: transparent;
  -webkit-animation: rot 4s infinite;
          animation: rot 4s infinite;
  border-color: purple;
  border-bottom-color: transparent;
  border-color: pink;
  border-right-color: transparent;
}

#preloader div:nth-child(7) {
  width: 46.33333%;
  height: 46.33333%;
}

#preloader div:nth-child(8) {
  width: 48.66667%;
  height: 48.66667%;
  -webkit-animation: rot 5s infinite;
          animation: rot 5s infinite;
  border-color: yellow;
  border-top-color: transparent;
  border-color: orange;
  border-left-color: transparent;
}

#preloader div:nth-child(9) {
  width: 51%;
  height: 51%;
  -webkit-animation: rot 4s infinite;
          animation: rot 4s infinite;
  border-color: purple;
  border-bottom-color: transparent;
}

#preloader div:nth-child(10) {
  width: 53.33333%;
  height: 53.33333%;
  -webkit-animation: rot 5s infinite;
          animation: rot 5s infinite;
  border-color: yellow;
  border-top-color: transparent;
}

#preloader div:nth-child(11) {
  width: 55.66667%;
  height: 55.66667%;
}

#preloader div:nth-child(12) {
  width: 58%;
  height: 58%;
  -webkit-animation: rot 5s infinite;
          animation: rot 5s infinite;
  border-color: yellow;
  border-top-color: transparent;
  -webkit-animation: rot 4s infinite;
          animation: rot 4s infinite;
  border-color: purple;
  border-bottom-color: transparent;
  border-color: pink;
  border-right-color: transparent;
  border-color: orange;
  border-left-color: transparent;
}

#preloader div:nth-child(13) {
  width: 60.33333%;
  height: 60.33333%;
}

#preloader div:nth-child(14) {
  width: 62.66667%;
  height: 62.66667%;
  -webkit-animation: rot 5s infinite;
          animation: rot 5s infinite;
  border-color: yellow;
  border-top-color: transparent;
}

#preloader div:nth-child(15) {
  width: 65%;
  height: 65%;
  -webkit-animation: rot 4s infinite;
          animation: rot 4s infinite;
  border-color: purple;
  border-bottom-color: transparent;
}

#preloader div:nth-child(16) {
  width: 67.33333%;
  height: 67.33333%;
  -webkit-animation: rot 5s infinite;
          animation: rot 5s infinite;
  border-color: yellow;
  border-top-color: transparent;
  border-color: orange;
  border-left-color: transparent;
}

#preloader div:nth-child(17) {
  width: 69.66667%;
  height: 69.66667%;
}

#preloader div:nth-child(18) {
  width: 72%;
  height: 72%;
  -webkit-animation: rot 5s infinite;
          animation: rot 5s infinite;
  border-color: yellow;
  border-top-color: transparent;
  -webkit-animation: rot 4s infinite;
          animation: rot 4s infinite;
  border-color: purple;
  border-bottom-color: transparent;
  border-color: pink;
  border-right-color: transparent;
}

#preloader div:nth-child(19) {
  width: 74.33333%;
  height: 74.33333%;
}

#preloader div:nth-child(20) {
  width: 76.66667%;
  height: 76.66667%;
  -webkit-animation: rot 5s infinite;
          animation: rot 5s infinite;
  border-color: yellow;
  border-top-color: transparent;
  border-color: orange;
  border-left-color: transparent;
}

#preloader div:nth-child(21) {
  width: 79%;
  height: 79%;
  -webkit-animation: rot 4s infinite;
          animation: rot 4s infinite;
  border-color: purple;
  border-bottom-color: transparent;
}

#preloader div:nth-child(22) {
  width: 81.33333%;
  height: 81.33333%;
  -webkit-animation: rot 5s infinite;
          animation: rot 5s infinite;
  border-color: yellow;
  border-top-color: transparent;
}

#preloader div:nth-child(23) {
  width: 83.66667%;
  height: 83.66667%;
}

#preloader div:nth-child(24) {
  width: 86%;
  height: 86%;
  -webkit-animation: rot 5s infinite;
          animation: rot 5s infinite;
  border-color: yellow;
  border-top-color: transparent;
  -webkit-animation: rot 4s infinite;
          animation: rot 4s infinite;
  border-color: purple;
  border-bottom-color: transparent;
  border-color: pink;
  border-right-color: transparent;
  border-color: orange;
  border-left-color: transparent;
}

#preloader div:nth-child(25) {
  width: 88.33333%;
  height: 88.33333%;
}

#preloader div:nth-child(26) {
  width: 90.66667%;
  height: 90.66667%;
  -webkit-animation: rot 5s infinite;
          animation: rot 5s infinite;
  border-color: yellow;
  border-top-color: transparent;
}

#preloader div:nth-child(27) {
  width: 93%;
  height: 93%;
  -webkit-animation: rot 4s infinite;
          animation: rot 4s infinite;
  border-color: purple;
  border-bottom-color: transparent;
}

#preloader div:nth-child(28) {
  width: 95.33333%;
  height: 95.33333%;
  -webkit-animation: rot 5s infinite;
          animation: rot 5s infinite;
  border-color: yellow;
  border-top-color: transparent;
  border-color: orange;
  border-left-color: transparent;
}

#preloader div:nth-child(29) {
  width: 97.66667%;
  height: 97.66667%;
}

#preloader div:nth-child(30) {
  width: 100%;
  height: 100%;
  -webkit-animation: rot 5s infinite;
          animation: rot 5s infinite;
  border-color: yellow;
  border-top-color: transparent;
  -webkit-animation: rot 4s infinite;
          animation: rot 4s infinite;
  border-color: purple;
  border-bottom-color: transparent;
  border-color: pink;
  border-right-color: transparent;
}

@-webkit-keyframes rot {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes rot {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
/*# sourceMappingURL=pr.css.map */