$color-dark: #333;
$color-light: blue;
$size: 370px;
$count: 30;
$size-small: 30%;


body{
    background-color: $color-dark;
}
div{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100%;
}
#preloader{
    width: $size;
    height: $size;
}
#preloader div{
    position: absolute;
    border: 1px solid $color-light;

    $offset: ( 100% - $size-small )  / $count ;

    @for $n from 1 through 30{

        &:nth-child(#{$n}) {
        width: $size-small + $n * $offset;
        height: $size-small + $n * $offset;
        @if $n % 2 == 0 {
            animation: rotu 5s infinite;
            border-color: yellow;
            border-top-color: transparent ;
        }
        @if $n % 3 == 0 {
            animation: rot 4s infinite;
            border-color: purple;
            border-bottom-color: transparent ;
        }
        @if $n % 6 == 0 {
            animation: rotu 2s infinite
            border-color: pink;
            border-right-color: transparent ;
        }
        @if $n % 4 == 0 {
            animation: rot 7s infinite
            border-color: orange;
            border-left-color: transparent ;
        }
        
    }
        
    
    }
}
@keyframes rot{
    from{ transform: rotate(0);}
    to{ transform: rotate(1turn);}
}
@keyframes rotu{
    from{ transform: rotate(0);}
    to{ transform: rotate(-1turn);}
}